@{
    ViewData["Title"] = "Add Movie";
}
@model Mission06_adw97.Models.Movie
<!--This is a page where a user can enter a new movie into the database-->

<div class="text-center">
    <h1>@ViewData["Title"]</h1>
    <div>
        <form method="post">
            <label asp-for="Category">Category</label>
            <input asp-for="Category" /><br />

            <label asp-for="Title">Title</label>
            <input asp-for="Title" /><br />

            <label asp-for="Year">Year</label>
            <input asp-for="Year" /><br />

            <label asp-for="Director">Director</label>
            <input asp-for="Director" /><br />

            <label asp-for="Rating">Rating</label>
            <select asp-for="Rating">
                <option value="G">G</option>
                <option value="PG">PG</option>
                <option value="PG-13">PG-13</option>
                <option value="R">R</option>
            </select>

            <label asp-for="Edited">Check if movie was edited</label>
            <input asp-for="Edited" /><br />

            <label asp-for="LentTo">Lent to</label>
            <input asp-for="LentTo" /><br />

            <label asp-for="Notes">Notes</label>
            <input asp-for="Notes" /><br />

            <button type="submit">Add Movie</button>
        </form>
    </div>
</div>
