
@{
    ViewData["Title"] = "Delete Movie";
}
<!--This view takes a movie model object and asks the user to confirm the deletion of said object-->

@model Movie
<h2>Confirm Deletion</h2>
<h3>Are you sure you want to delete the record for @Model.Title</h3>

<form method="post" asp-controller="Home" asp-action="Delete">
    <button type="submit">Delete</button>
    <a class="btn btn-primary" asp-controller="Home" asp-action="MovieList">Cancel</a>
    <input type="hidden" asp-for="MovieId" />
</form>