@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}
<!--Alex Wirick
    2/8/2023
    This is the index page, it adds this content to the shared layout-->
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h1>@ViewData["Title"]</h1>
    <img src="~/img/JoelHiltonHeadshot.jpg" />
</div>
