@{
    ViewData["Title"] = "My Podcasts";
}
<!--This page simply contains a link to Baconsales-->
<h1>@ViewData["Title"]</h1>

<p><a href="https://baconsale.com/">Listen to the podcasts here!</a></p>
